<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="10"
  >
    <button mat-button class="w-100 text-left">
      <mat-icon *ngIf="node.icon"> {{ node.icon }} </mat-icon>
      <span
        class="pl-2"
        *ngIf="
          (layoutService.isMenuExpanded$ | async) ||
          (layoutService.isHandset$ | async) ||
          !node.icon
        "
      >
        {{ node.name }}
      </span>
    </button>
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    [matTreeNodePaddingIndent]="10"
  >
    <button mat-button matTreeNodeToggle class="w-100 text-left">
      <mat-icon *ngIf="node.icon"> {{ node.icon }} </mat-icon>
      <span
        class="pl-2"
        *ngIf="
          (layoutService.isMenuExpanded$ | async) ||
          (layoutService.isHandset$ | async) ||
          !node.icon
        "
      >
        {{ node.name }}
      </span>
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
