<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card class="mt-5">
        <h2 class="text-center">Login</h2>
        <hr />
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-12 mb-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Enter your email"
                  formControlName="email"
                  autocomplete="email"
                />
                <mat-error *ngIf="form.controls.email.errors?.required">
                  Email is required
                </mat-error>
                <mat-error *ngIf="form.controls.email.errors?.email">
                  Email must be a real one
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 mb-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Enter your password"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  type="button"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls.password.errors?.required">
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <button
                mat-raised-button
                color="primary"
                class="w-100"
                type="submit"
              >
                Login
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
